name: Checkov Terraform Scan

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Checkov on Terraform
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          soft_fail: true
          quiet: true
          framework: terraform


